<%= form_with url: local_assigns.fetch(:url, payment_methods_path),
  method: :post,
  data: {
    controller: "paddle",
    paddle_target: "form",
    paddle_action: "update-payment-details",
    paddle_update_url: subscription.try(:paddle_update_url)
  } do |f| %>

  <div class="paddle-checkout"></div>

  <%= f.hidden_field :processor, value: :paddle %>
<% end %>
