<%= form_with url: local_assigns.fetch(:url, payment_methods_path),
  method: :post,
  data: {
    controller: "paypal",
    paypal_target: "form",
    paypal_env: braintree_env,
    paypal_client_token: Pay.braintree_gateway.client_token.generate
  } do |f| %>

  <div class="my-8">
    <%= tag.div nil, data: { paypal_target: "button" } %>
  </div>

  <%= f.hidden_field :processor, value: :braintree %>
<% end %>
