<%= form_with url: local_assigns.fetch(:url, subscriptions_path),
  method: local_assigns.fetch(:method, :post),
  data: {
    controller: "braintree",
    braintree_target: "form",
    braintree_env: braintree_env,
    braintree_client_token: Pay.braintree_gateway.client_token.generate,
  } do |f| %>

  <%= tag.div nil, data: { braintree_target: "dropin" } %>

  <div class="my-8 text-center">
    <%= f.button t("subscriptions.new.subscribe"),
      class: "btn btn-primary btn-large btn-block",
      data: {
        action: "click->braintree#submit",
        disable_with: disable_with(t("subscriptions.new.processing"))
      } %>
  </div>

  <%= f.hidden_field :plan, value: @plan.id %>
<% end %>
