<div class="modal fade" id="welcomeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Welcome to Jumpstart! 👋</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Hello there! Your first step to setting up a Jumpstart application is to define your application details.</p>
        <p>We'll have you add details about your application, how you want users to login, payment plans, email options, and more.</p>
        <p>When you're done, click <code>Save &amp; Reload</code>. We'll seamlessly install any required gems and restart your app with the new options.</p>
        <p>And remember! You can make changes to your Jumpstart config anytime by clicking on Jumpstart in the navbar.</p>
        <p>Happy coding!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Get Started</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $("#welcomeModal").modal('show');
</script>
