<% instance = notification.to_notification %>
<%= link_to notification, data: {
    notifications_target: "notification",
    id: notification&.id,
    read_at: notification&.read_at,
    interacted_at: notification&.interacted_at,
  },
  class: "flex items-center px-4 py-3 hover:bg-gray-100 border-b last:border-b-0" do %>
  <div class="flex-1">
    <p class="mb-2 text-sm leading-5 font-medium text-gray-900">
      <%= instance.message %>
    </p>

    <p class="text-sm text-gray-600"><%= local_time_ago notification&.created_at %></p>
  </div>

  <%# blue dot is toggled by CSS from the parent's data-interacted-at attribute presence %>
  <div uninteracted class="hidden flex-shrink-0">
    <span class="inline-block w-2 h-2 ml-4 bg-blue-500 rounded-full"></span>
  </div>
<% end %>
