<div class="container mx-auto mt-8">
  <h1 class="mb-4"><%= t(".title") %></h1>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    There are several sites that can help with the creation of your privacy policy.
  </p>

  <p class="mb-4 text-xl text-gray-700 leading-normal">
    Have your text reviewed by a lawyer before going live.
  </p>

  <ul>
    <li><a href="https://github.com/basecamp/policies">Basecamp</a></li>
    <li><a href="https://www.iubenda.com/en/">Iubenda</a></li>
    <li><a href="https://termly.io/">Termly</a></li>
    <li><a href="https://getterms.io/">Get Terms</a></li>
  </ul>

</div>
