<!--
    Make sure you add some bottom padding to pages that include a sticky banner like this to prevent
    your content from being obscured when the user scrolls to the bottom of the page.
  -->
<div class="fixed inset-x-0 bottom-0">
  <div class="bg-primary-500">
    <div class="max-w-screen-xl mx-auto py-3 px-3 sm:px-6 lg:px-8">
      <div class="flex items-center justify-between flex-wrap">
        <div class="flex-1 flex items-center">
          <span class="flex p-2 rounded-lg bg-indigo-800">
            <%= render_svg "mark", styles: "fill-current text-gray-100" %>
          </span>
          <p class="ml-3 font-medium text-white truncate">
            <span class="md:hidden">
              Start your next Ruby on Rails app.
            </span>
            <span class="hidden md:inline">
              The perfect starting place for your next Ruby on Rails app.
            </span>
          </p>
        </div>
        <div class="order-3 mt-2 flex-shrink-0 w-full sm:order-2 sm:mt-0 sm:w-auto">
          <div class="rounded-md shadow-sm">
            <%= link_to main_app.root_url, class: "flex items-center justify-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition ease-in-out duration-150" do %>
              Buy Jumpstart Pro
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

