<% content_for :section_title, "Action Mailbox" %>

<div class="mb-20">
  <div class="mb-10">
    <p class="mb-4 text-xl text-gray-700 leading-normal">Action Mailbox provides inbound email processing for features like "reply by email".</p>

    <h2 class="pb-3 mb-6 border-b border-gray-400">Installing Action Mailbox</h2>
    <p class="mb-4">You can run <code>rails action_mailbox:install</code> to install Action Mailbox in your application. Don't forget to run <code>rails db:migrate</code> afterwards to run the migrations</p>

    <h2 class="pb-3 mb-6 border-b border-gray-400">Creating Mailboxes</h2>
    <p class="mb-4">You can run <code>rails g mailbox my_mailbox</code> to create a new Action Mailbox...mailbox. This will generate the Ruby class for processing inbound emails.</p>
    <p class="mb-4">Check out the <%= link_to "GoRails screencast episodes on Action Mailbox", "https://gorails.com/episodes/tagged/ActionMailbox", target: :_blank, class: "text-blue-500" %> and the <%= link_to "Action Mailbox Rails Guide", "https://edgeguides.rubyonrails.org/action_mailbox_basics.html", target: :_blank, class: "text-blue-500" %> for more information on how to use Action Mailbox.</p>

    <h2 class="pb-3 mb-6 border-b border-gray-400">Coming soon...</h2>
    <p class="mb-4">Jumpstart Pro doesn't provide any specific features for Action Mailbox...yet. We've got some ideas for cool features we can add with it so keep an eye out for updates in the future!</p>
  </div>
</div>
