<% content_for :section_title, "Configuration" %>

<div class="mb-20">
  <div class="mb-10">
    <p class="mb-4 text-xl text-gray-700 leading-normal">Configuring Jumpstart Pro is easy. We've even built a handy little configuration interface in development mode to save you time.</p>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Credentials</h2>
    <p class="mb-4">Rails credentials are used for configuration API keys. Check out the <%= link_to "Credentials", credentials_docs_path, class: "text-blue-500 underline" %> guide to learn more.</p>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Configuration Wizard</h2>
    <p class="mb-4">Jumpstart Pro comes with a configuration wizard to help you enable and disable features quickly in development. For example, you can simply check a box and click Save &amp; Reload and your dependency will be installed and your Rails app restarted.</p>

    <p class="mb-4">You can view the configuration UI at <code>/jumpstart</code> <em>only in development</em>.</p>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Screencast</h2>
    <p class="mb-4">This screencast will walk you through Jumpstart Pro's configuration UI for enabling and disabling features.</p>

    <div class="w-full xl:w-1/2">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/fO7jl8VmV24' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
