<% content_for :section_title, "Credentials" %>

<div class="mb-20">
  <div class="mb-10">
    <p class="mb-4 text-xl text-gray-700 leading-normal">Jumpstart Pro uses Rails 6's new environment credentials to separate out credentials for each environment into its own encrypted file.</p>

    <h2 class="pb-3 mb-6 border-b border-gray-400">Environment Credentials</h2>
    <p class="mb-4">Rails 6 introduced "environment credentials" which we strongly encourage using.</p>
    <p class="mb-4"></p>You can share the keys for each environment with only the users / environments that need to know them, which improves the security of your credentials. This also helps make sure you don't accidentally use development keys in production or vice versa.</p>

    <pre><code>rails credentials:edit --environment=development</code></pre>
    <pre><code>rails credentials:edit --environment=staging</code></pre>
    <pre><code>rails credentials:edit --environment=production</code></pre>

    <p class="mb-4"><strong>Protip:</strong> We recommend adding an <code>EDITOR</code> environment variable to your <code>~/.bashrc</code> or <code>~/.zshrc</code> file to automatically set this when you open a terminal. This way you won't be required to prepend the <code>rails credentials:edit</code> command with <code>EDITOR="..."</code> every time.</p>

    <pre><code>export EDITOR="vim" # Use Vim as default editor
export EDITOR="mvim -f" # Use MacVim as default editor
export EDITOR="code --wait" # Use VSCode as default editor
export EDITOR="atom --wait" # Use Atom as default editor
export EDITOR="mate --wait" # Use TextMate as default editor</code></pre>

    <h2 class="pb-3 mb-6 border-b border-gray-400">Organization</h2>
    <p class="mb-4">When you create your credentials file for the first time, the contents will look like this to make adding your API keys really easy.</p>

    <pre><code><%= Jumpstart::Credentials.template %></code></pre>

    <h2 class="pb-3 mb-6 border-b border-gray-400">Deploying To Staging / Production</h2>
    <p class="mb-4">Simply add your staging.key or production.key to your deployment environment variables as <code>RAILS_MASTER_KEY</code>. This will let Rails decrypt your credentials in staging or production.</p>
  </div>
</div>
