<% content_for :section_title, "Installation" %>

<div class="mb-20">
  <div class="mb-10">
    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Installing Jumpstart Pro</h2>
    <p class="mb-4">To install all dependencies, set up, and configure your application follow the latest instructions linked here:</p>
    <p class"mb-4"><%= link_to "Rails Installation", "https://github.com/jumpstart-pro/jumpstart-pro-rails#readme", class: "font-bold", target: :_blank %></p>
    <p class"mb-4"><%= link_to "iOS Installation", "https://github.com/jumpstart-pro/jumpstart-pro-ios#readme", class: "font-bold", target: :_blank %></p>
    <p class"mb-4"><%= link_to "Android Installation", "https://github.com/jumpstart-pro/jumpstart-pro-android#readme", class: "font-bold", target: :_blank %></p>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Screencast</h2>
    <p class="mb-4">This screencast will walk you through cloning Jumpstart Pro's git repository, installing dependencies, and setting up your brand new application so you can easily merge updates from git.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/2DEneP450hU' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
