<% content_for :section_title, "JavaScript" %>

<div class="mb-10">
<p class="text-xl text-gray-700 leading-normal">Jumpstart leverages <%= link_to "Stimulus.js", "https://github.com/stimulusjs/stimulus", target:"_blank", class: "link" %> for a variety of interactive components. Feel free to reach for any front-end framework you may need, just keep in mind that you'll want it to be Turbo compatible.</p>
</div>

<%= render 'jumpstart/docs/javascript/tooltips' %>
<%= render 'jumpstart/docs/javascript/tabs' %>
<%= render 'jumpstart/docs/javascript/modals' %>
