<% content_for :section_title, "Scaffolds" %>

<div class="mb-10">
  <p class="text-xl text-gray-700 leading-normal">Jumpstart customizes scaffolds to make it easier and quicker to develop your application.</p>
</div>

<div class="mb-10 pb-10 border-b border-gray-300">
  <h3 class="h2 mb-2 pb-2">Account Resources</h3>

  <p class="mb-4 leading-normal">If you'd like a resource to be shared across a Account, you can scope your controllers to the current account so the resources are shared between users in the associated account.</p>
  <p class="mb-4 leading-normal">Every user has a personal account that's only usable by themselves, so you can easily associate resources to accounts and still have private resources to a user.</p>
  <p class="mb-4 leading-normal">Make sure to add <code>account:references</code> when generating your models.</p>
  <p class="mb-4 leading-normal">You should also add <code>acts_as_tenant :account</code> to your model if you would like to have acts_as_tenant enforce multitenancy on the model. This is optional and you can read the <%= link_to "Multitenancy docs", accounts_docs_path %> for more information on this.</p>
  <p class="mb-4 leading-normal">You should also ensure your model's Turbo Streams broadcast methods are scoped to the account so only users associated to your account receive the broadcast. You can scope the broadcast methods by passing account in the method <code>broadcast_prepend_later_to account, :my_new_model</code>. In your views, you will also need ensure Turbo Streams is subscribed to the correct stream scoped to the account <code>turbo_stream_from current_account, :my_new_model</code> </p> 
    
</div>

<div class="mb-10 pb-10 border-b border-gray-300">
  <h3 class="h2 mb-2 pb-2">Theme</h3>

  <p class="mb-4 leading-normal">The scaffold generator has been customized to include a default design for scaffolds. You can customize this as you like to bring your own design.</p>
</div>

<div class="mb-10 pb-10 border-b border-gray-300">
  <h3 class="h2 mb-2 pb-2">Navigation</h3>

  <p class="mb-4 leading-normal">Jumpstart includes an addition to the scaffold generator to automatically include new scaffolds into the navbar for convenience.</p>
</div>

<div class="mb-10 pb-10">
  <h3 class="h2 mb-2 pb-2">Pagy</h3>

  <p class="mb-4 leading-normal">Scaffolds use <%= link_to "Pagy", "https://github.com/ddnexus/pagy", target: :_blank %> to paginate scaffolds by default. Pagination is also themed to match the template.</p>
</div>
