<% content_for :section_title, "Screencasts" %>

<div class="mb-20">
  <div class="mb-10">
    <p class="mb-4 text-xl leading-normal text-gray-700">We've recorded a bunch of videos to help you get started with Jumpstart Pro in record time.</p>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Getting Started</h2>
    <p class="mb-4">This screencast will walk you through cloning Jumpstart Pro's git repository, installing dependencies, and setting up your brand new application so you can easily merge updates from git.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/2DEneP450hU' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Configuration</h2>
    <p class="mb-4">This screencast will walk you through Jumpstart Pro's configuration UI for enabling and disabling features.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/fO7jl8VmV24' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">TailwindCSS & TailwindUI with Jumpstart Pro</h2>
    <p class="mb-4">This screencast will walk you through using TailwindCSS &amp; TailwindUI in your Jumpstart Pro Rails application.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/jmyAe_s6Wy8' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">API Tokens, Authentication & More</h2>
    <p class="mb-4">Learn how to use Jumpstart Pro's API tokens, authentication, and other features.</p>
    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/QTCuTL470Qc' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Creating Accounts on User Registration</h2>
    <p class="mb-4">Sometimes you might want to collect and create an Account when a user registers. It's pretty easy, so check out this video on how to do it.</p>
    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/dWOzQ0DZBJg' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">How To Build a SaaS Content Product in under 10 minutes</h2>
    <p class="mb-4">Learn how to build a subscription video content business in under 10 minutes using Jumpstart Pro. This example is like building your own Netflix, Hulu, or GoRails including subscription payments.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/dOEF1BJuUNY' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">How To Build a Forum with Jumpstart Pro</h2>
    <p class="mb-4">Watch how to build a forum from scratch using Jumpstart Pro.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/ZSom4V-nYxA' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Multitenancy Upgrade</h2>
    <p class="mb-4">Jumpstart Pro now supports Multitenancy, Current Attributes, sorting scaffolds and several other things out of the box. Learn how to upgrade an existing Jumpstart Pro application to support Multitenancy. If you're starting a new Jumpstart Pro application today, you'll already have all these features.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/6wuaVWKVclo' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Hotwire Upgrade</h2>
    <p class="mb-4">Jumpstart Pro now supports Hotwire by default. Links and form submissions are handled by Turbo allowing you to implement realtime, reactive changes to your Rails app with zero Javascript.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/srL8_lUayMw' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>

    <h2 class="pb-3 mt-8 mb-6 border-b border-gray-200">Pay 3.0 Upgrade</h2>
    <p class="mb-4">Pay 3.0 improves Payments &amp; Billing for Jumpstart Pro with better support for payment methods, currencies, and multiple subscriptions.</p>

    <div class="w-full">
      <div class="embed-container">
        <iframe src='https://www.youtube.com/embed/nJLf26sGD3o' frameborder='0' allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
