<% content_for :section_title, "Welcome To Jumpstart Pro Rails" %>

<div class="max-w-4xl text-gray-700">
  <div class="mb-10">
    <p class="leading-normal text-xl mb-4">We're excited to see what you bulid with Jumpstart Pro and Ruby on Rails. This documentation is everything you need to know to start building products with Jumpstart.</p>
  </div>

  <div class="mb-10">
    <h3 class="text-gray-800 mb-4">How to get started with Jumpstart Pro Rails</h3>
    <p class="leading-normal mb-4">First of all, thanks for using Jumpstart Pro! We want to make Jumpstart the easiest way for you to launch a business with Ruby on Rails.</p>
    <p class="leading-normal mb-4">To the left, you'll see all the different areas of documentation that you'll need to know. Check out the <%= link_to "Screencasts", screencasts_docs_path %> section if you'd like to learn Jumpstart by watching videos.</p>
    <p class="leading-normal mb-4">If you have an idea for a feature or found a bug, please let us know on the <%= link_to "GitHub repository.", "https://github.com/jumpstart-pro/jumpstart-pro", target: :_blank %></p>
  </div>

  <div class="mb-10">
    <h3 class="text-gray-800 mb-4">Next</h3>
    <p class="leading-normal mb-4"><%= link_to "Install Jumpstart Pro", installation_docs_path %></p>
  </div>
</div>
