<% content_for :section_title, "Wells" %>

<div class="mb-10">

  <h4 class="uppercase text-gray-700 tracking-wide font-semibold text-sm border-b border-gray-400 pb-3 mb-3">Default</h4>

  <%= render "jumpstart/docs/snippet" do %>
<div class="bg-gray-200 text-center lg:p-16 p-8 rounded-lg max-w-3xl my-4">
  <h2 class="text-black lg:text-4xl text-xl lg:mb-4 mb-2">Empty state well title</h2>
  <p class=" text-gray-700 lg:text-xl text-base leading-normal">Description for the empty state running across a couple of lines. Nullam quis risus eget urn. Posuere consectetur est at lobortis. <a href="#" class="link">Learn More</a></p>
</div>
  <% end %>
</div>
